
    header {
        position: relative;
        justify-content: flex-start;
    }

    main {
        display: grid;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 105em;
        grid-template-columns: 343px;
        grid-template-rows: 2fr repeat( 4, 1fr );
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        grid-template-areas:
            "img-1"
            "dag"
            "img-2"
            "img-3"
            "cbi";
    }

    h2 {
        margin-bottom: 2rem;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .background-constants {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .hero-image {
        background-image: url( "../assets/mobile/image-hero@2x.jpg" );
        background-color: rgb(230, 231, 233);
        width: 23.44rem;
        height: 15rem;
    }

/*  IMAGES  */

    #image-grid-1 {

        background-image: url( '../assets/mobile/image-grid-1.jpg' );
        grid-area: img-1;
    }

    #image-grid-2 {

        background-image: url( '../assets/mobile/image-grid-2.jpg' );
        grid-area: img-2;
    }

    #image-grid-3 {

        background-image: url( '../assets/mobile/image-grid-3.jpg' );
        grid-area: img-3;
    }

    #day-at-gallery {
        grid-area: dag;
    }

    #come-be-inspired {
        grid-area: cbi;
        background-color: var( --almost-black );
        color: white;
        padding: 2rem;
        margin-bottom: 5rem;
    }

    .desktop-background {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 0;
    }

/*  Footer stuff    */

    footer {
        min-height: 10rem;
        padding: 3rem 2rem;
    }

    .modern-header {
        color: white;
    }

    .go-uppercase {
        text-transform: uppercase;
    }

    .footer-main-body {
        color: white;
        line-height: 2rem;
        font-weight: 500;
    }


    @media screen and ( min-width: 768px ) {

        :root {
            --grid-column-one: 41%;
            --grid-column-two: 18%;
            --grid-row-one: 55%;
            --grid-row-two: 45%;
            --grid-width: 43.63rem;
        }

        .sizing-of-elements {
            width: var( --break-width-tablet );
        }

        header {
            height: 40rem;
            flex-direction: row !important;
        }

        main {
            margin: 0 auto;
            align-self: center;
            grid-template-columns: var( --grid-column-one ) var( --grid-column-two ) var( --grid-column-one );
            grid-template-rows: var( --grid-row-one ) var( --grid-row-two ) auto;
            grid-template-areas:
            "dag img-1 img-1"
            "img-2 img-2 img-3"
            "img-2 img-2 cbi";
            gap: 1.5rem;
            width: var( --grid-width );
            min-height: 80vh;
            border: 1px solid red;
        }

        .hero-image {
            background-image: url( "../assets/tablet/image-hero.jpg" );
            background-color: rgb(230, 231, 233);
            width: 60%;
            height: 100%;
        }

        .make-absolute {
            justify-content: center;
            position: absolute;
            width: 50%;
            top: 0;
            right: 0;
            height: 100%;
        }

/*  Adjust for Tablet   */

        #image-grid-1 {
            background-image: url( '../assets/tablet/image-grid-1@2x.jpg' );
            background-position: right;
            grid-area: img-1;
        }

        #image-grid-2 {
            background-image: url( '../assets/tablet/image-grid-2.jpg' );
            background-position: top;
            grid-area: img-2;
        }

        #image-grid-3 {
            background-image: url( '../assets/tablet/image-grid-3.jpg' );
            background-position: top;
            grid-area: img-3;
        }

        #day-at-gallery {
            width: 100%;
            grid-area: dag;
        }

        #come-be-inspired {
            width: 100%;
            grid-area: cbi;
            background-color: var( --almost-black );
            color: white;
            padding: 2rem;
        }
    }

    @media screen and ( min-width: 1024px ) {

        .desktop-background {
            position: relative;
            width: 30%;
            height: 100%;
            background-color: var( --almost-black );
            overflow: hidden;
        }

        .desktop-background::after {
            position: absolute;
            content: 'MODERN\A ART GALLERY';
            white-space: pre;
            color: white;
            top: 10rem;
            right: -9rem;
            width: 22rem;
        }

        .sizing-of-elements {
            width: var(--break-width-desktop);
        }

        .hero-image {
            position: relative;
            background-image: url("../assets/desktop/image-hero.jpg");
            width: 40%;
            overflow: hidden;
        }

        .hero-image::before {
            position: absolute;
            content: 'MODERN\A ART GALLERY';
            white-space: pre;
            color: black;
            top: 10rem;
            left: -13rem;
            width: 22rem;
        }

        .make-absolute {
            width: 35%;
        }

        .hide-at-desktop {
            display: none;
            visibility: hidden;
        }
    }
