
    header {
        position: relative;
        justify-content: flex-start;
    }

    main {
        margin: 2rem auto !important;
        display: grid;
        min-height: 105vh;
        grid-template-columns: var( --break-width-small );
        grid-template-rows: 320px 223px 480px 200px 293px;
        justify-content: space-between;
        align-items: center;
        row-gap: 2rem;
        grid-template-areas:
            "img-1"
            "dag"
            "img-2"
            "img-3"
            "cbi";
    }

    h2 {
        margin-bottom: 2rem;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .background-constants {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .hero-image {
        background-image: url( "../assets/mobile/image-hero@2x.jpg" );
        background-color: rgb(230, 231, 233);
        width: 23.44rem;
        height: 15rem;
    }

    .change-colour {
        fill: #FFF;
        color: white;
    }

/*  IMAGES  */

    #image-grid-1 {

        background-image: url( '../assets/mobile/image-grid-1.jpg' );
        grid-area: img-1;
    }

    #image-grid-2 {

        background-image: url( '../assets/mobile/image-grid-2.jpg' );
        grid-area: img-2;
    }

    #image-grid-3 {

        background-image: url( '../assets/mobile/image-grid-3.jpg' );
        grid-area: img-3;
    }

    #day-at-gallery {
        grid-area: dag;
    }

    #come-be-inspired {
        grid-area: cbi;
        background-color: var( --almost-black );
        color: white;
        padding: 2rem;
    }

    .desktop-background {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 0;
    }

/*  Footer stuff    */

    footer {
        min-height: 10rem;
        padding: 3rem 2rem;
    }

    .modern-header {
        color: white;
    }

    .go-uppercase {
        text-transform: uppercase;
    }

    .footer-main-body {
        color: white;
        line-height: 2rem;
        font-weight: 500;
    }

    @media screen and ( min-width: 768px ) {

        :root {
            --grid-column-one: auto;
            --grid-column-two: 19%;
            --grid-column-three: 38%;
            --grid-row-one: 400px;
            --grid-row-two: 313px;
            --grid-row-three: 396px;
            --grid-width: 720px;

            --img-text-width: 280px;
            --main-image-width: 398px;
        }

        .sizing-of-elements {
            min-width: var( --break-width-tablet );
        }

        header {
            height: 40rem;
            flex-direction: row !important;
        }

        main {
            margin: 3rem auto !important;
            align-self: center;
            align-items: flex-start;
            grid-template-columns: var( --grid-column-one ) var( --grid-column-two ) var( --grid-column-one );
            grid-template-rows: var( --grid-row-one ) var( --grid-row-two ) var( --grid-row-three ) ;
            grid-template-areas:
            "dag img-1 img-1"
            "img-2 img-2 img-3"
            "img-2 img-2 cbi";
            gap: 0.5rem;
            width: var( --grid-width );
            min-height: 90vh;
        }

        .hero-image {
            background-image: url( "../assets/tablet/image-hero.jpg" );
            background-color: rgb(230, 231, 233);
            width: 60%;
            height: 100%;
        }

        .make-absolute {
            justify-content: center;
            position: absolute;
            width: 50%;
            top: 0;
            right: 0;
            height: 100%;
        }

        #day-at-gallery {
            width: 100%;
            margin-top: 2rem;
            grid-area: dag;
        }

        #image-grid-1 {
            background-image: url( '../assets/tablet/image-grid-1@2x.jpg' );
            background-position: right;
            grid-area: img-1;
        }

        #image-grid-2 {
            background-image: url( '../assets/tablet/image-grid-2.jpg' );
            background-position: top;
            grid-area: img-2;
        }

        #image-grid-3 {
            background-image: url( '../assets/tablet/image-grid-3.jpg' );
            background-position: top;
            width: var( --img-text-width );
            height: 313px;
            grid-area: img-3;
        }

        #come-be-inspired {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-area: cbi;
            background-color: var( --almost-black );
            width: var( --img-text-width );
            height: 100%;
            color: white;
            padding: 2rem;
            margin-bottom: 1.5rem;
        }

        .footer-flex-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .footer-main-body {
            width: 40%;
        }

    }

    @media screen and ( min-width: 1440px ) {

        :root {
            --grid-width: 1024px;
        }

        main {
            width: 1110px;
            max-width: var( --break-width-largest );
        }

        #day-at-gallery {
            width: 350px;
            height: 280px;
            align-self: center;
        }

        #image-grid-1 {
            background-image: url( '../assets/desktop/image-grid-1@2x.jpg' );
            background-position: right;
        }

        #image-grid-2 {
            background-image: url( '../assets/desktop/image-grid-2.jpg' );
            width: 635px;
            height: 720px;
        }

        #image-grid-3 {
            background-image: url( '../assets/desktop/image-grid-3.jpg' );
            width: 445px;
            height: 313px;
        }

        #come-be-inspired {
            width: 445px;
        }

        .desktop-background {
            position: relative;
            width: 30%;
            height: 100%;
            background-color: var( --almost-black );
            overflow: hidden;
        }

        .desktop-background::after {
            position: absolute;
            content: 'MODERN\A ART GALLERY';
            white-space: pre;
            color: white;
            top: 10rem;
            right: -9rem;
            width: 22rem;
        }

        .sizing-of-elements {
            width: var(--break-width-largest);
        }

        .hero-image {
            position: relative;
            background-image: url("../assets/desktop/image-hero.jpg");
            width: 40%;
            overflow: hidden;
        }

        .hero-image::before {
            position: absolute;
            content: 'MODERN\A ART GALLERY';
            white-space: pre;
            color: black;
            top: 10rem;
            left: -13rem;
            width: 22rem;
        }

        .make-absolute {
            width: 35%;
        }

        .hide-at-desktop {
            display: none;
            visibility: hidden;
        }
    }
